@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'poppins', sans-serif;
}

@keyframes enter-x {
  from {
    transform: translateX(100%)
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes leave-x {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translateX(-100%);
  }
}




::view-transition-old(view) {
  animation: 1.5s linear leave-x;
 
}


::view-transition-new(view) {
  animation: 1.5s linear enter-x;
}

::view-transition-group(view){
  z-index: 100;
}